:root {
    --primary-dark: #081b29;
    --primary-ligth:#ededed;
    --transition-clr-blue:#00abf0;
}

.navbar {
    width: 100%;
    height: 100px;
    background: var(--primary-dark);
}

.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-ligth);
}

.navbar a {
    color: var(--primary-ligth);
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
}

.navbar a:hover {
    color: var(--transition-clr-blue);
    transform: scale(1.25);
    transition: 1.25s ease-in;
}

.toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}
.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: var(--primary-ligth);
    cursor: pointer;
}

#open {
    height: 100vh;
}

#open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .navbar a {
        width: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }
    #close a {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }

    #open {
        height: 100px;
    }

    #open .links {
        flex-direction: row;
    }
}